<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glass.simple" >

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SimpleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".SimpleReceiver">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!--<service-->
            <!--android:name=".SimpleService"-->
            <!--android:label="@string/app_name"-->
            <!--android:clearTaskOnLaunch="true"-->
            <!--android:launchMode="singleInstance"-->
            <!--android:enabled="true"/>-->
    </application>

</manifest>
